@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 60% 97%;
    --foreground: 224 71% 4%;

    --card: 220 60% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 220 60% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 221 14% 9%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;

    --accent: 350 91% 60%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 217 91% 60%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 216 12% 64%;

    --accent: 350 91% 60%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes scroll-app-screen {
  0% { background-position: 50% 0%; }
  20% { background-position: 50% 0%; }
  30% { background-position: 50% 33%; }
  50% { background-position: 50% 33%; }
  60% { background-position: 50% 66%; }
  80% { background-position: 50% 66%; }
  90% { background-position: 50% 100%; }
  100% { background-position: 50% 100%; }
}

@keyframes subtle-gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
